h1 {
	color: blue;
	font-size: 80px;
	font-style: italic;
	position: relative;
	left:60%;
	right:40%;
	top:15px;
	bottom: 10px;
}
h3{
	color:black;
	font-size: 35px;
	font-style: normal;
	position: relative;
	left:50%;
	right:50%;
}
h4{
	color: magenta;
	font-size: 30px;
	font-style: initial;
	position: relative;
	left:50%;
	right:50%;
}

img {
	width: 400px;
	height: 400px;
	position:relative ;
	left:95px;
	right:;
	top:25px;
}

#thirdDiv {
	height: 900px;
	width: 700px;
	background-color: green;
	padding: 30px;
	border: red solid 20px;
	position: relative;
	top: 50px;
	left:50%;
	right:50%;
	bottom: 100px;
}
#spanId{
	font-size: 38px;
	padding: 38px; color: black;
	margin: 30px;
	position: relative;
	top: 20px;
	left: 47%;
	right: 53%;
	bottom:10px;

}
a{
	font-size: 35px;
	font-style: oblique;
	padding:15px;color:blue;
	position:relative;
	left:45%;
	right:55%;
}